In [1]:
import os
import json
import pandas as pd
import numpy as np

#### Helper functions

In [1]:
def convert_jsonl_pd(filepath):
  with open(filepath, 'r') as json_file:
    json_list = list(json_file)
  
  dat = []
  for json_str in json_list:
    result = json.loads(json_str)
    dat.append(result)
  
  dat = pd.DataFrame(dat)
  return dat

In [28]:
import spacy
from profanity_filter import ProfanityFilter

def add_profanity(dat):
  nlp = spacy.load('en')
  profanity_filter = ProfanityFilter(nlps={'en': nlp})  # reuse spacy Language (optional)
  nlp.add_pipe(profanity_filter.spacy_component, last=True)
  profanity = []
  for item in dat.text:
    doc = nlp(item)
    profanity.append(doc._.is_profane)
  
  dat['profanity'] = profanity
  return dat

#### Identify profanity in each dataset

In [29]:
dev_seen = convert_jsonl_pd('/content/dev_seen.jsonl')
dev_seen.head()

      id  ...                                               text
0  08291  ...              white people is this a shooting range
1  46971  ...                              bravery at its finest
2  03745  ...  your order comes to $37.50 and your white priv...
3  83745  ...  it is time.. to send these parasites back to t...
4  80243  ...                             mississippi wind chime

[5 rows x 4 columns]

In [30]:
#add indicator for profanity
dev_seen1 = add_profanity(dev_seen)
dev_seen1.head()

      id  ... profanity
0  08291  ...     False
1  46971  ...     False
2  03745  ...     False
3  83745  ...     False
4  80243  ...     False

[5 rows x 5 columns]

In [31]:
pd.crosstab(dev_seen1['profanity'], dev_seen1['label'])

label        0    1
profanity
False      237  217
True        16   30

#### Build data dictionary with keywords for


*   Racism 
*   Nationality
*   Pregnancy/abortion
*   Disability
*   Religion

In [34]:
# check % of hateful memes with specific word
train = convert_jsonl_pd('/content/train.jsonl')
np.mean(train.label[train.text.apply(lambda x:x.find('asian') != -1)])

0.7560975609756098

In [35]:
nationality = {'asian', 'native american', 'aussie', 'indian', 'black', 'african', 'caucasian', 'white', 'jewish', 'jew', 'european', 'mexican'}

In [9]:
keywords = {'muslim', 'mohammed', 'sex', 'gay', 'shooter', 'straight', 'diaper', 'blind', 'baby', 'israel', 'lesbian', 'pregnant'}